.Recommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
  text-transform: uppercase; 
  font-size: smaller; 
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
}

.Recommendation {
  width: 33.33%;
  color: #003171;

}

.RecHeader{
margin: 15px;
color: #003171;
}

.AvatarImg {
  height: 120px;
  border: none;
  border-radius: 10%;
}

.follow-btn {
  background-color: #1d9bf0;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 15px;
  color: white;
  margin: auto;

}

.follow-btn:hover {
  background-color: #00538a;
  cursor: pointer;
}
